.modal {
  width: 0px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0px;
  background-color: var(--Popup-overlay);
  z-index: 1;
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
}

.modal_active {
    width: 100vw;
  opacity: 1;
  z-index: 5;
  transition: opacity 0.3s ease;
}

.modal__overlay {
  width: 0;
  height: 0;
  z-index: 1;
}

.modal__overlay_active {
    width: 100vw;
  height: 100vh;
  z-index: 7;
}

.modal__content {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 6;
}

.modal__content:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 172.5px;
  width: 30px;
  height: 4px;
  background-color: var(--light-neutrals-300);
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .modal{
    display: block;
  } 
  
}
